In [3]:
import os
import sys
import json
import pandas as pd
import numpy as np

In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
TOP_PATH = os.environ['PWD']

In [6]:
sys.path.append(TOP_PATH + '/src')
sys.path.append(TOP_PATH + '/cfg')

In [7]:
import etl
from trends import *
from cleaning import clean_2014_2016
from cleaning import clean_2017
import cleaning

In [8]:
df_2018 = pd.read_csv(TOP_PATH + '/data/raw/STOPS_2018-2019.csv')

In [8]:
z = cleaning.clean_2018_2019(TOP_PATH + '/data/raw/STOPS_2018-2019.csv')

In [9]:
z.head()

,stop_id,stop_cause,beat,service_area,subject_race,subject_sex,subject_age,date_stop,time_stop,arrested,searched,obtained_consent,contraband_found,property_seized
0,2443,Reasonable Suspicion,122,120,White,Male,25,2018-07-01,00:01:37,Y,N,NaN,N,N
1,2444,Traffic Violation,121,120,White,Male,25,2018-07-01,00:03:34,N,N,NaN,N,N
2,2447,Reasonable Suspicion,822,820,Hispanic/Latino/a,Male,30,2018-07-01,00:05:43,N,N,NaN,N,N
3,2448,Traffic Violation,614,610,White,Male,23,2018-07-01,00:19:06,N,N,NaN,N,N
4,2449,Reasonable Suspicion,115,110,White,Male,25,2018-07-01,00:03:00,Y,Y,NaN,N,N

In [21]:
v = pd.read_csv(TOP_PATH + '/data/cleaned/2016_cleaned.csv')

In [22]:
v.head()

,stop_id,stop_cause,service_area,subject_race,subject_sex,subject_age,date_stop,time_stop,arrested,searched,obtained_consent,contraband_found,property_seized
0,1444799,Moving Violation,120,Native American,Male,37.0,2017-01-01,00:03:00,N,N,NaN,N,N
1,1444867,Equipment Violation,120,White,Male,24.0,2017-01-01,19:15:00,N,N,NaN,N,N
2,1444871,Equipment Violation,310,Other,Male,32.0,2017-01-01,19:10:00,N,N,NaN,N,N
3,1444869,Moving Violation,620,White,Male,31.0,2017-01-01,19:10:00,N,N,NaN,N,N
4,1444888,Moving Violation,710,Hispanic/Latino/a,Female,67.0,2017-01-01,18:50:00,N,N,NaN,N,N